<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div class="alert">
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.text_field :name, placeholder: "Name", class: "form-control width-80", autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "btn btn-default width-80" %>
  </div>
<% end %>

